# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDEs y editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno (si usas alguno)
.env
